@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Menu.HeThongDuAnCongTrinh;
}
@section ScriptsFile{
    <style>
        .color_status {
            cursor: default;
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 1px solid #c3c3c3;
            border-radius: 50%;
            margin-top: 7px;
        }

        .dx-datagrid .dx-header-filter {
            position: relative;
            color: blue;
            font: 14px/1 DXIcons;
        }

        .dx-datagrid .dx-header-filter-empty {
            color: rgba(149,149,149,.5);
        }
    </style>
}
@section Link{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <div class="d-flex align-items-baseline flex-wrap mr-5">
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 ">
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.HeThong</a>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.HeThongDuAnCongTrinh</a>
                </li>

            </ul>
        </div>
    </div>
}
@section Header{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <div class="row">
            <div class="col-lg-6">
                <label class="form-labe">Ca làm việc</label>
                <div id="select-calamviec">
                </div>
            </div>
            <div class="col-lg-4">
                <label class="form-labe">Mã dự án</label>
                <input type="text" id="txt-duan" name="txt-duan" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="d-flex">
       
        <button type="button" class="btn btn-warning" onclick="TimKiem()" title=" @Resources.App.TimKiem">
            <i class="icon-md fas fa-search"></i>
            @Resources.App.TimKiem
        </button>
    </div>
}
<div class="row">
    <div class="col-lg-12" id="mobliesize">
        <div id="danh-sach"></div>
    </div>
</div>
@section CustomScripts{
    <script type="text/javascript">
        var dtCaLamViec =  @Html.Raw(TTFPortal.Class.DanhMuc.DMCaLamViec())
        $(function () {
             $('#danh-sach').height($(window).height() - 200);
             setCaLamViec('select-calamviec', dtCaLamViec, false, 'Ca làm việc');
            TimKiem();
        });
        function TimKiem() {
            var maCaLamViec = $("#select-calamviec").dxSelectBox("instance").option('value');
            var maDuAn = $("#txt-duan").val();
            KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang tải dữ liệu...' });
            $.get("@Url.Action("GetDuAn", "HeThong")", { maDuAn: maDuAn,maCaLamViec:maCaLamViec }).done(function (rs) {
                KTApp.unblockPage();
                LoadData(rs);
            }).fail(function () {
                KTApp.unblockPage();
            })
        }
        function LoadData(data) {
            $('#danh-sach').height($(window).height() - 200);
            $("#danh-sach").dxDataGrid({
                dataSource: data,
                //selection: {
                //    mode: "multiple"
                //},
                remoteOperations: {
                    paging: true,
                    filtering: true
                },
                keyExpr:"MaDuAn",
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                 editing: {
                        mode: "popup",// 'batch' | 'cell' | 'row' | 'popup'
                        allowUpdating:true,
                        allowDeleting: true,
                        allowAdding: true,
                        useIcons: true,
                        //form: {
                        //    items: [{
                        //        itemType: "group",
                        //        colCount: 1,
                        //        colSpan: 2,
                        //        items: ["TenLoaiDuAn",  {
                        //            dataField: "MoTa",
                        //            editorType: "dxTextArea",
                        //            colSpan: 2,
                        //            editorOptions: {
                        //                height: 50
                        //            }
                        //        }]
                        //    }]
                        //}
                     },
                paging: {
                    pageSize: 50
                },
                //export: {
                //    enabled: true,
                //    fileName: "",
                //    allowExportSelectedData: true
                //},
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 15, 20, 50, 100],
                    showInfo: true
                },
                columnFixing: {
                    enabled: false
                },
                columns: [
                    {
                        dataField: "MaDuAn",
                        caption: "Mã dự án",
                        width: 150,
                        //allowEditing: false,
                        //dataType: "date",
                        //format: "dd/MM/yyyy",
                        validationRules: [{ type: "required", message: "Chưa nhật dự án" }]
                    },
                    {
                        dataField: "Email",
                        caption: "Email",
                        width: 200,
                        validationRules: [{ type: "required", message: "Chưa nhật mail" }]
                    },
                    {
                        dataField: "HoTen",
                        caption: "Họ và tên",
                        width: 200,
                        validationRules: [{ type: "required", message: "Chưa nhật họ tên" }]
                    },
                    {
                        dataField: "MaCaLamViec",
                        caption: "Ca làm việc",
                        width: 200,
                        validationRules: [{ type: "required", message: "Chưa chọn ca làm việc" }],
                        lookup: {
                            dataSource: dtCaLamViec,
                            displayExpr: "TenCaLamViec",
                            valueExpr: "MaCaLamViec",
                        }
                    },
                    {
                        dataField: "GhiChu",
                        caption: "Ghi chú",
                        width: 200,
                        validationRules: [{ type: "required", message: "Chưa nhật họ tên" }]
                    },
                    {
                        dataField: "Del",
                        caption: "Không gửi mail",
                        width: 100,
                        //validationRules: [{ type: "required", message: "Chưa nhật họ tên" }]
                    }
                ],
                onRowInserting: function (e) {
                    AddDuAn(e);
                },
                onRowUpdating: function (e) {
                    EditDuAn(e.newData, e.oldData);
                },
                onRowRemoving: function (e) {
                    XoaDuAn(e.key);
                },
                onEditorPreparing: function (e) {
                    if (e.parentType == "dataRow" && e.dataField == "MaCaLamViec") {
                        e.editorOptions.itemTemplate = function (data, index, container) {
                            var row = $("<div>").addClass("row-fluid");
                            $("<div>").addClass("col-xs-2").text(data["TenCaLamViec"]).appendTo(row);
                            $("<div>").addClass("col-xs-4").text(data["GioBacDau"]).appendTo(row);
                            $("<div>").addClass("col-xs-4").text(data["GioKetThuc"]).appendTo(row);
                            container.append(row);
                        };
                    }
                },
            });
        }
        function ThemMoi() {
            $('#danh-sach').dxDataGrid('instance').addRow();
        }
        function AddDuAn(e) {
            var data = {};
            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            data.MaDuAn = e.data.MaDuAn;
            data.HoTen = e.data.HoTen;
            data.Email = e.data.Email;
            data.GhiChu = e.data.GhiChu;
            data.Del = e.data.Del;
            data.MaCaLamViec = e.data.MaCaLamViec;
            KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang lưu thông tin...' });
            $.post('@Url.Action("LuuThongTinDuAn", "HeThong")', data).done(function (rs) {
                if (rs.code == "1") {
                    KTApp.unblockPage();
                    ShowToast.success('Thành công', 3000);
                    TimKiem();
                }
                else if(rs.code==0){
                    TimKiem();
                    KTApp.unblockPage();
                        Swal.fire("Có lỗi!", rs.text, "error");
                }
                else if (rs.indexOf("kt_login_signin_form") > 0){
                     ShowToast.info('Hết thời gian thao tác xin đăng nhập lại', 3000);
                     setTimeout(function () { window.location.href = '@Url.Action("Login", "Account")'; }, 3000);
                }

            }).fail(function () {
                KTApp.unblockPage();
                TimKiem()
             });
        }
        function EditDuAn(newData, oldData) {
            var data = {};
                data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                var arryPropertyName = Object.getOwnPropertyNames(newData);
                for (var i = 0; i < arryPropertyName.length; i++) {
                    //data[arryPropertyName[i]] = item[arryPropertyName[i]].toString()
                    oldData[arryPropertyName[i]] = newData[arryPropertyName[i]].toString();
                }
                data.item = oldData;
                $.post('@Url.Action("LuuThongTinDuAn", "HeThong")', data).done(function (rs) {
                    if (rs.code == "1") {
                        ShowToast.success("Thành công", 3000);
                        TimKiem();
                    }
                    else if(rs.code==0) {
                        TimKiem();
                        Swal.fire("Có lỗi!", rs.text, "error");
                    }
                    else if (rs.indexOf("kt_login_signin_form") > 0){
                         ShowToast.info('Hết thời gian thao tác đăng nhập lại', 3000);
                         setTimeout(function () { window.location.href = '@Url.Action("Login", "Account")'; }, 3000);
                    }
                }).fail(function () {
                        TimKiem();
                    });
        }
        function XoaDuAn(maDuAn) {
            KTApp.blockPage({overlayColor: '#000000', state: 'primary',message: 'Đang xóa...'});
                        try {
                            var data = {};
                            data.maDuAn = maDuAn;
                            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                            $.post("@Url.Action("XoaDuAn", "HeThong")", data).done(function (rs) {
                                KTApp.unblockPage();
                                if (rs.code == 1) {
                                    ShowToast.success( rs.text,3000);
                                    TimKiem();
                                }
                                else if (rs.code == 0) {
                                    Swal.fire("Có lỗi! ", rs.text, "error");
                                    TimKiem();
                                }
                                else if (rs.indexOf("kt_login_signin_form") > 0){
                                     ShowToast.info('Hết thời gian thao tác đăng nhập lại', 3000);
                                     setTimeout(function () { window.location.href = '@Url.Action("Login", "Account")'; }, 3000);
                                 }
                            }).fail(function () {
                                KTApp.unblockPage();
                            });
                        } catch (e) {
                            KTApp.unblockPage();
                        }
        }
    </script>
}