@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Menu.HeThongDuyetNghiPhep;
}
@section ScriptsFile{
    <style>
        .color_status {
            cursor: default;
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 1px solid #c3c3c3;
            border-radius: 50%;
            margin-top: 7px;
        }

        .dx-datagrid .dx-header-filter {
            position: relative;
            color: blue;
            font: 14px/1 DXIcons;
        }

        .dx-datagrid .dx-header-filter-empty {
            color: rgba(149,149,149,.5);
        }
    </style>
}
@section Link{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <div class="d-flex align-items-baseline flex-wrap mr-5">
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 ">
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.HeThong</a>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.HeThongDuyetNghiPhep</a>
                </li>

            </ul>
        </div>
    </div>
}
@section Header{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <div class="form-group row">
            <div class="col-lg-6">
                <label class="form-labe">Phòng/Phân Xưởng</label>
                <div id="select-phongban">
                </div>
            </div>
            <div class="col-lg-3">
                <label class="form-labe">Từ ngày</label>
                <div id="txt-tungay">
                </div>
            </div>
            <div class="col-lg-3">
                <label class="form-labe">Đến ngày</label>
                <div id="txt-denngay">
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <button type="submit" class="btn btn-primary mr-2" id="btn-capnhat" onclick="ThemMoi()">
            <i class="icon-md fas fa-plus"></i>
            @Resources.App.ThemMoi
        </button>
        <button type="button" class="btn btn-warning" onclick="TimKiem()" title=" @Resources.App.TimKiem">
            <i class="icon-md fas fa-search"></i>
            @Resources.App.TimKiem
        </button>
    </div>
}
<div class="row">
    <div class="col-lg-12" id="mobliesize">
        <div id="danh-sach"></div>
    </div>
</div>
@section CustomScripts{
    <script type="text/javascript">
        var dtPhongBan = @Html.Raw(TTFPortal.Class.DanhMuc.DMPhongBan())
        $(function () {
            $("#txt-tungay").dxNumberBox({
                value:null,
                max: 9999,
                showSpinButtons: true
            });
            $("#txt-denngay").dxNumberBox({
                value: null,
                max: 9999,
                showSpinButtons: true
            });
            setPhongBan('select-phongban', dtPhongBan, false, 'Phòng/Phân xưởng');
            TimKiem();
        });
        function TimKiem() {
            var tuNgay = $("#txt-tungay").dxNumberBox("instance").option('value');
            var denNgay = $("#txt-denngay").dxNumberBox("instance").option('value');
            var maPhongBan = $("#select-phongban").dxSelectBox("instance").option('value');
            KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang tải dữ liệu...' });
            $.get("@Url.Action("GetMatrixNghiPhep", "HeThong")", { tuNgay:tuNgay,denNgay:denNgay,maPhongBan:maPhongBan}).done(function (rs) {
                KTApp.unblockPage();
                LoadData(rs);
            }).fail(function () {
                KTApp.unblockPage();
            })
        }
        function LoadData(data) {
            $('#danh-sach').height($(window).height() - 200);
            $("#danh-sach").dxDataGrid({
                dataSource: data,
                //selection: {
                //    mode: "multiple"
                //},
                remoteOperations: {
                    paging: true,
                    filtering: true
                },
                keyExpr: "ID",
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                 editing: {
                        mode: "popup",// 'batch' | 'cell' | 'row' | 'popup'
                        allowUpdating:true,
                        allowDeleting: true,
                        allowAdding: true,
                        useIcons: true,
                     },
                paging: {
                    pageSize: 50
                },
                //export: {
                //    enabled: true,
                //    fileName: "",
                //    allowExportSelectedData: true
                //},
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 15, 20, 50, 100],
                    showInfo: true
                },
                columnFixing: {
                    enabled: false
                },
                columns: [
                    {
                        dataField: "MaPhong_PhanXuong",
                        caption: "Mã phòng/Phân xưởng",
                        width: 250,
                        //dataType: "number",
                        validationRules: [{ type: "required", message: "Chưa chọn phòng phân xưởng" }],
                        lookup: {
                            dataSource: function (options) {
                                return {
                                    store: dtPhongBan,
                                    filter: options.data ? ["MaPhong_PhanXuong", "=", options.data.MaPhong_PhanXuong] : null
                                };
                            },
                            displayExpr: "TenPhong_PhanXuong",
                            valueExpr: "MaPhong_PhanXuong", // provides display values
                        },
                        //allowEditing: false,
                    },
                    {
                        dataField: "TuNgay",
                        caption: "Từ ngày",
                        width: 80,
                        dataType: "number",
                        validationRules: [{ type: "required", message: "Chưa nhật từ ngày" }]
                        //allowEditing: false,
                    },
                    {
                        dataField: "DenNgay",
                        caption: "Đến ngày",
                        width: 80,
                        //allowEditing: false,
                        dataType: "number",
                        //format: "dd/MM/yyyy",
                        validationRules: [{ type: "required", message: "Chưa nhật đến ngày" }]
                        //fixed: true
                    },
                    {
                        dataField: "CapDuyet",
                        caption: "Cấp duyệt",
                        width: 80,
                        //allowEditing: false,
                        dataType: "number",
                        //format: "dd/MM/yyyy",
                        validationRules: [{ type: "required", message: "Chưa nhật cấp duyệt" }]
                        //fixed: true
                    },
                    {
                        dataField: "NguoiDuyet",
                        caption: "Người duyệt",
                        width: 120,
                        validationRules: [{ type: "required", message: "Chưa nhật người duyệt" }]
                    },
                    {
                        dataField: "GhiChu",
                        caption: "Ghi chú",
                        width: 220,
                    }
                ],
                onRowInserting: function (e) {
                    AddMatrixNghiPhep(e);
                },
                onRowUpdating: function (e) {
                    EdiMatrixNghiPhep(e.newData, e.oldData);
                },
                onRowRemoving: function (e) {
                    XoaMatrixNghiPhep(e.key);
                }
            });
        }
        function ThemMoi() {
            $('#danh-sach').dxDataGrid('instance').addRow();
        }
        function AddMatrixNghiPhep(e) {
            var data = {};
            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            data.TuNgay = e.data.TuNgay;
            data.DenNgay = e.data.DenNgay;
            data.MaPhong_PhanXuong = e.data.MaPhong_PhanXuong;
            data.CapDuyet = e.data.CapDuyet;
            data.NguoiDuyet = e.data.NguoiDuyet;
            data.GhiChu = e.data.GhiChu;
            KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang lưu thông tin...' });
            $.post('@Url.Action("AddMatrixNghiPhep", "HeThong")', data).done(function (rs) {
                if (rs.code == "1") {
                    KTApp.unblockPage();
                    ShowToast.success('Thành công', 3000);
                    TimKiem();
                }
                else if(rs.code==0){
                    TimKiem();
                    KTApp.unblockPage();
                        Swal.fire("Có lỗi!", rs.text, "error");
                }
                else {
                     ShowToast.info('Hết thời gian thao tác đăng nhập lại', 4000);
                     window.location.href = '@Url.Action("Login", "Account")?';
                }

            }).fail(function () {
                KTApp.unblockPage();
                TimKiem()
             });
        }
        function EdiMatrixNghiPhep(newData, oldData) {
            var data = {};
                data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                var arryPropertyName = Object.getOwnPropertyNames(newData);
                for (var i = 0; i < arryPropertyName.length; i++) {
                    //data[arryPropertyName[i]] = item[arryPropertyName[i]].toString()
                    oldData[arryPropertyName[i]] = newData[arryPropertyName[i]].toString();
                }
                data.item = oldData;
                $.post('@Url.Action("SaveMatrixNghiPhep", "HeThong")', data).done(function (rs) {
                    if (rs.code == "1") {
                        ShowToast.success("Thành công", 3000);
                        TimKiem();
                    }
                    else if(rs.code==0){
                        TimKiem();
                        Swal.fire("Có lỗi!", rs.text, "error");
                    }
                    else {
                     ShowToast.info('Hết thời gian thao tác đăng nhập lại', 4000);
                     window.location.href = '@Url.Action("Login", "Account")?';
                    }
                }).fail(function () {
                      TimKiem();
                });
        }
        function XoaMatrixNghiPhep(Id) {
                        KTApp.blockPage({
                            overlayColor: '#000000',
                            state: 'primary',
                            message: 'Đang xóa...'
                        });
                        try {
                            var data = {};
                            data.Id = Id;
                            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                            $.post("@Url.Action("XoaMatrixNghiPhep", "HeThong")", data).done(function (rs) {
                                KTApp.unblockPage();
                                if (rs.code == 1) {
                                    ShowToast.success( rs.text,3000);
                                    TimKiem();
                                }
                                else if (rs.code == 0) {
                                    Swal.fire("Có lỗi! ", rs.text, "error");
                                    TimKiem();
                                }
                                else {
                                     ShowToast.info('Hết thời gian thao tác đăng nhập lại', 4000);
                                     window.location.href = '@Url.Action("Login", "Account")?';
                                 }
                            }).fail(function () {
                                KTApp.unblockPage();
                            });
                        } catch (e) {
                            KTApp.unblockPage();
                        }
        }
    </script>
}