@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Menu.CongCaDem;
}
@section Link{
    <div class="d-flex align-items-center flex-wrap mr-1">

        <div class="d-flex align-items-baseline flex-wrap mr-5">
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 ">
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.Cong</a>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.CongCaDem</a>
                </li>

            </ul>
        </div>
    </div>
}
@section Header{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <div class="form-group row">
            <div class="col-lg-5  mr-1">
                <label class="form-labe">File</label>
                <input type="file" accept=".xlsx" />
            </div>
            <div class="col-lg-3 mr-1">
                <label class="form-labe">Ngày</label>
                <div id="date-ngay">
                </div>
            </div>
            <div class="col-lg-3">
                <label class="form-labe">Mã NV</label>
                <input type="text" id="txt-hoten" name="txt-hoten" class="form-control" />
            </div>
        </div>
    </div>
    <div class="d-flex">
        <button type="button" class="btn btn-info font-weight-bolder mr-2" id="btn-chonfile" data-toggle="modal" data-target="#ImportModal">
            <i class="icon-md fas fa-long-arrow-alt-up"></i> @Resources.App.DocFileXecel
        </button>
        <button type="submit" class="btn btn-light-primary font-weight-bolder mr-2" id="btn-capnhat" title="Người dùng cập nhật">
            <i class="icon-md far fa-save"></i>
            @Resources.App.CapNhat
        </button>
        <button type="submit" class="btn btn-danger font-weight-bold  px-2 font-size-base  mr-2" id="btn-xoa">
            <i class="icon-md far fa-trash-alt"></i>
            @Resources.App.Xoa
        </button>
        <button type="button" class="btn btn-warning" onclick="LoadData()" title="@Resources.App.TimKiem">
            <i class="icon-md fas fa-search"></i>
            @Resources.App.TimKiem
        </button>
    </div>
}
<div class="row">
    <div class="col-lg-12" id="mobliesize">
        <div id="danh-sach"></div>
    </div>
</div>
@section CustomScripts{
    <script type="text/javascript">
         var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        $(function () {
            $('#danh-sach').height($(window).height() - 200);
            setPhongBan('select-phongban',@Html.Raw(TTFPortal.Class.DanhMuc.DMPhongBan()),false , 'Phòng/Phân xưởng');
            $("#date-ngay").dxDateBox({
               // value: firstDay,
                width: '100%',
                type: "date",
                displayFormat: 'dd/MM/yyyy',
                showClearButton: true,
                onValueChanged: function (data) {
                    tungay = Globalize.format(data.value, "yyyy-MM-dd");
                },
            }).dxDateBox("instance");
           
        });
    </script>
}