@using TTFPortal.Class;
@model TangCa
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.App.TangCaThongTin;
    var ng = TTFPortal.Class.Users.GetNguoiDung(User.Identity.Name);
}
<link href="~/Content/css/wizard-4790f.css?v=2.0.1" rel="stylesheet" type="text/css" />
@section Link{
    <div class="d-flex align-items-center flex-wrap mr-1">

        <div class="d-flex align-items-baseline flex-wrap mr-5">

            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 ">
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.TangCa</a>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.App.TangCaThongTin</a>
                </li>

            </ul>
        </div>
    </div>
}
@section Header{
    <div class="d-flex align-items-center flex-wrap mr-1">
    </div>
    <div class="d-flex align-items-center">
        @if (Model.NguoiTao == ng.NguoiDung && ViewBag.Op == 1)
        {
            <a href="@Url.Action("TangCaCuaBan","TangCa")" class="btn btn-default font-weight-bold  px-2 font-size-base  mr-2"> <i class="icon-md fas fa-arrow-left"></i> @Resources.App.QuayLai</a>
        }
        @if ((User.IsInRole("0=0") || User.IsInRole("47=2")) && Model.NguoiTao == ng.NguoiDung && ViewBag.Op == 1)
        {
            <a href="@Url.Action("Create", "TangCa")" class="btn btn-primary font-weight-bold  px-2 font-size-base  mr-2" title="Thêm mới nghỉ phép"> <i class="icon-md fas fa-sync"></i> @Resources.App.ThemMoi</a>
        }
        @if (Model.Block != true && Model.NguoiTao == ng.NguoiDung && ViewBag.Op == 1)
        {
            <button type="submit" class="btn btn-info mr-2" id="btn-guimail">
                <i class="icon-md fas fa-mail-bulk"></i>
                @Resources.App.GuiMail
            </button>
        }
        @if (Model.Block != true && (User.IsInRole("47=3") || User.IsInRole("0=0")) && Model.NguoiTao == ng.NguoiDung && ViewBag.Op == 1)
        {
            <button type="submit" class="btn btn-warning mr-2" id="btn-capnhat" title="Người dùng cập nhật">
                <i class="icon-md far fa-save"></i>
                @Resources.App.CapNhat
            </button>
        }
        @if (Model.Block != true && (User.IsInRole("0=0") || User.IsInRole("47=4")) && Model.NguoiTao == ng.NguoiDung && ViewBag.Op == 1)
        {
            <button type="submit" class="btn btn-danger font-weight-bold  px-2 font-size-base  mr-2" id="btn-xoa">
                <i class="icon-md far fa-trash-alt"></i>
                @Resources.App.Xoa
            </button>

        }
      @*  xax nhan thong tin dat*@
        @if (User.IsInRole("54=2") || User.IsInRole("0=0") && ViewBag.Op == 4)
        {
            <a href="@Url.Action("DuyetTangCa","TangCa")" class="btn btn-default font-weight-bold  px-2 font-size-base  mr-2"> <i class="icon-md fas fa-arrow-left"></i> @Resources.App.QuayLai</a>
            <button class="btn btn-bg-info font-weight-bolder mr-2" title="@Resources.App.XacNhanDat" id="btn-xacnhandat">
                <i class="icon-md fas fa-check"></i>
                @Resources.App.Duyet
            </button>
            <button type="button" class="btn btn-primary" title="@Resources.App.XacNhanKhongDat" id="btn-xacnhankhongdat">
                <i class="icon-md fa fa-ban"></i>
                @Resources.App.TuChoi
            </button>
        }
        @* duyêt*@
        @if (Model.Block == true && (User.IsInRole("48=1") || User.IsInRole("0=0")) && ng.NhanSu == Model.IDNguoiDuyetKeTiep && ViewBag.Op == 2)
        {
            <a href="@Url.Action("DuyetTangCa","TangCa")" class="btn btn-default font-weight-bold  px-2 font-size-base  mr-2"> <i class="icon-md fas fa-arrow-left"></i> @Resources.App.QuayLai</a>
            <button class="btn btn-bg-info font-weight-bolder mr-2" title="@Resources.App.Duyet" id="btn-duyet">
                <i class="icon-md fas fa-check"></i>
                @Resources.App.Duyet
            </button>
            <button type="button" class="btn btn-primary" title="@Resources.App.TuChoi" id="btn-tuchoi">
                <i class="icon-md fa fa-ban"></i>
                @Resources.App.TuChoi
            </button>
        }
        @*Nhân sự*@
        @if (User.IsInRole("44=1") || User.IsInRole("0=0") && ViewBag.Op == 3)
        {
            <a href="@Url.Action("QuanLyTangCa","TangCa")" class="btn btn-default font-weight-bold  px-2 font-size-base  mr-2"> <i class="icon-md fas fa-arrow-left"></i> @Resources.App.QuayLai</a>
            <button type="button" class="btn btn-primary" title="Nhân sự từ chối" id="btn-tuchoinhansu">
                <i class="icon-md fa fa-ban"></i>
                @Resources.App.TuChoi
            </button>
        }

    </div>
}
<div class="container">
    <!--begin::Card-->
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">Thông tin tăng ca</h3>
        </div>
        <!--begin::Form-->
        @*  <form>*@
        <div class="card-body center">
            <div class="form-group row">
                <div class="col-lg-3">
                    <label class="form-labe">Phòng/ hân Xưởng thụ hưởng<b class="text-danger">*</b></label>
                    <div id="select-phongban">
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="form-labe">Ngày<b class="text-danger">*</b></label>
                    <div id="date-ngay">
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="form-labe">Giờ bắt đầu<b class="text-danger">*</b></label>
                    <div id="date-giobatdau">
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="form-labe">Giờ kết thúc<b class="text-danger">*</b></label>
                    <div id="date-gioketthuc">
                    </div>
                </div>
                <input type="hidden" id="txt-tangca" value="@Model.IDTangCa" />
            </div>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label class="form-labe">Lý do<b class="text-danger">*</b></label>
                    <div id="txt-lydo">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <div class="radio-inline" style="padding-top:4%">
                        <label class="radio">
                            <input type="radio" name="ca" value="false" class="loai" id="cokehoach" checked>
                            <span></span>Có kế hoạch
                        </label>
                        <label class="radio">
                            <input type="radio" name="ca" value="true" class="loai" id="dotxuat">
                            <span></span> Đột xuất
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="radio-inline" style="padding-top:4%">
                        <label class="radio">
                            <input type="radio" name="duan" value="false" class="loai2" id="noibo" checked>
                            <span></span> Nội bộ
                        </label>
                        <label class="radio">
                            <input type="radio" name="duan" value="true" class="loai2" id="duan">
                            <span></span> Dự án
                        </label>
                    </div>
                </div>
                <div class="col-lg-4" id="hidemaduan" style="display:none">
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Mã dự án <b class="text-danger">*</b></label>
                        <div class="col-9">
                            <div id="txt-maduan">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label class="form-labe">Ghi chú</label>
                    <div id="txt-ghichu">
                    </div>
                </div>
            </div>
            <hr />
            @if (Model.Block == false)
            {
                <div class="form-group row">
                    <div class="col-lg-3">
                        <input type="text" name="txt-manv" id="txt-manv" class="form-control" placeholder="Nhập mã nhân viên bấm Enter để thêm" />
                    </div>
                    <div class="col-lg-4">
                        <input type="file" name="UploadedFile" id="UploadedFile" accept=".xlsx" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-info" onclick="ImportFileExcel()">Lấy danh sách từ excel</button>
                    </div>
                </div>
            }

            <div class="form-group row">
                <div class="col-lg-12" id="mobliesize">
                    <div id="danh-sach"></div>
                </div>
            </div>
        </div>

        @*<div class="card-footer">
                        <button type="reset" class="btn btn-primary mr-2">Submit</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
            </form>*@
        <!--end::Form-->
    </div>
    <!--end::Card-->
</div>
@section CustomScripts{
    <script type="text/javascript">
        var date = new Date(), maduan = "",duan = false,data = [];
        $(".loai2").change(function () {
            if ($(this).val() == "true") {
                $("#hidemaduan").css("display", "block");
                duan = true;
            }
            else {
                $("#hidemaduan").css("display", "none");
                duan = false;
            }
        });
        $('body').addClass('subheader-fixed');
        $(function () {
            $('#danh-sach').height(300);
            setPhongBan('select-phongban',@Html.Raw(TTFPortal.Class.DanhMuc.DMPhongBan()), true,'Phòng/Phân xưởng','@Model.MaPhong_PhanXuong');
            $("#date-ngay").dxDateBox({
                value:  "@Model.NgayTangCa.ToString("yyyy-MM-dd")",
                width: '100%',
                type: "date",
                displayFormat: 'dd/MM/yyyy',
                showClearButton: true,
                onValueChanged: function (data) {
                    ngay = Globalize.format(data.value, "yyyy-MM-dd");
                },
                invalidDateMessage: "Ngày nhập không hợp lệ"
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: "Chưa nhập ngày tăng ca"
                }]
                });
            $("#date-giobatdau").dxDateBox({
                value: "@Model.GioBatDau",
                width: '100%',
                type: "time",
                displayFormat: 'HH:mm',
                showClearButton: true,
                onValueChanged: function (data) {
                    thoigian = Globalize.format(data.value, "HH:mm");
                },
                invalidDateMessage: "Thời gian không hợp lệ"
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: "Chưa nhập thời gian"
                }]
                });
            $("#date-gioketthuc").dxDateBox({
                value: "@Model.GioKetThuc",
                width: '100%',
                type: "time",
                displayFormat: 'HH:mm',
                showClearButton: true,
                onValueChanged: function (data) {
                    thoigian = Globalize.format(data.value, "HH:mm");
                },
                invalidDateMessage: "Thời gian không hợp lệ"
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: "Chưa nhập thời gian"
                }]
                });
            $.get("@Url.Action("LoadDuAn", "TangCa")").done(function (rs) {
                $("#txt-maduan").dxAutocomplete({
                    dataSource: rs,
                    placeholder: "Nhập mã dự án...",
                    showClearButton: true,
                    valueExpr: 'MaDuAn',
                    value:"@Model.MaDuAn"
                    //onValueChanged: function (data) {
                    //    maduan = data.value;
                    //    //updateEmployeeInfo();
                    //}
                }).dxValidator({
                    validationRules: [{
                        type: "required",
                        message: "Chưa nhập mã dự án"
                    }]
                });
            });
            $("#txt-lydo").dxTextBox({
                placeholder: "Nhập lý do",
                showClearButton: true,
                value:"@Html.Raw(Model.LyDo)"
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: "Chưa nhập lý do"
                }]
            });;
            $("#txt-ghichu").dxTextBox({
                placeholder: "Nhập ghi chú",
                showClearButton: true,
                value:"@Html.Raw(Model.GhiChu)"
            });
            var json =  @Html.Raw(Json.Encode(@Model.TCChiTiet));
            data = JSON.parse(JSON.stringify(json));

            LoadDanhSachTangCa();
            if ("@Model.DotXuat" == "True") {
                $("#dotxuat").prop("checked", true);
            }
            else {
                $("#cokehoach").prop("checked", true);
            }
            if ("@Model.DuAn" == "True") {
                $("#duan").prop("checked", true);
                $("#hidemaduan").css("display", "block");

            }
            else {
                $("#noibo").prop("checked", true);
                $("#hidemaduan").css("display", "none");
            }
        });
        $("#txt-manv").on('keyup', function (event) {
            if (event.keyCode === 13) {
                if ($("#txt-manv").val() == "" || $("#txt-manv").val().length == 0)
                    return;
                AddNhanVien($("#txt-manv").val());
            }
        });
        function AddNhanVien(manv) {
            $.get("@Url.Action("AddNhanVien","TangCa")", {maNV:manv}).done(function (rs) {
                if (rs == null) {
                    ShowToast.warning("Không tìm thấy nhân viên", 3000);
                }
                else {
                    var check = data.filter(it => it.MaNV == manv);
                    if (check.length > 0) {
                        ShowToast.warning("Nhân viên này đã thêm không thể thêm", 1000);
                        return;
                    }
                    data.push(rs)
                    LoadDanhSachTangCa();
                }
            }).fail(function (err) {
                ShowToast.warning("Không tìm thấy nhân viên" + manv, 2000);
            })
        }
        function LoadDanhSachTangCa() {
            $("#danh-sach").dxDataGrid({
                dataSource: data,
                ////selection: {
                ////    mode: "multiple"s
                ////},
                remoteOperations: {
                    paging: true,
                    filtering: true
                },
                //editing: {
                //    // allowUpdating: true,
                //    //allowAdding: true,
                //    allowDeleting: false,
                //    //mode: 'batch' // 'batch' | 'cell' | 'form' | 'popup'
                //},
                keyExpr: "NhanSu",
                //filterRow: {
                //    visible: true,
                //    applyFilter: "auto"
                //},
                paging: {
                    pageSize: 10
                },
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 15, 20, 50, 100],
                    showInfo: true
                },
                columnFixing: {
                    enabled: false
                },

                columns: [
                    {
                        width: 40,
                        caption: "Xóa",
                        type: "buttons",
                        buttons: [{
                            name: "Xóa",
                            icon: "la la-trash-o",
                            onClick: function (e) {
                                XoaChiTiet(e);
                            }
                        }],
                        visible:"@Model.Block"=="True"?false:true

                    },
                     {
                        dataField: "MaNV",
                        caption: "Mã nhân viên",
                        width: 150,
                        allowEditing: false,
                        //dataType: "date",
                        //format: 'dd/MM/yyyy',
                    },
                    {
                        dataField: "HoVaTen",
                        caption: "Họ và tên",
                        width: 250,

                    },
                    {
                        dataField: "TenPhongBan",
                        caption: "Tên phòng / Phân xưởng",
                        width: 250,
                        allowEditing: false,
                    },
                    {
                        dataField: "IDTangCa",
                        visible:false,
                    }
                ],
            });
        }
        function XoaChiTiet(e) {
            data = data.filter(it => it.MaNV != e.row.data.MaNV)
            LoadDanhSachTangCa();
        }

        function ImportFileExcel() {
            var formData = new FormData();
            var files = $("#UploadedFile").get(0).files;
            formData.append('UploadedFile', files[0]);
            KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang import dữ liệu...' });
            $.ajax({
                url: '@Url.Action("ImportFileExcelEdit", "TangCa")',
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (rs) {
                    KTApp.unblockPage();
                    if (rs.code == 1) {
                        data = rs.data;
                        LoadDanhSachTangCa();
                        if (rs.description != null && rs.description.length > 0) {
                            //toastr.error(rs.description);
                            ShowToast.info(rs.description, 3000);
                        }
                    }
                    else {

                        ShowToast.warning(rs.text, 3000);
                    }
                },
                error: function (err) {
                    toastr.error("Lỗi hệ thống liên hệ nhà quản trị để được hỗ trợ" + err);
                    KTApp.unblockPage();
                }
            });
        }

    </script>
    @if ((User.IsInRole("0=0") || User.IsInRole("47=3")) && Model.NguoiTao == ng.NguoiDung)
    {
        <script type="text/javascript">
            $("#btn-capnhat").click(function () {
            var data = {}, validate = true;
            data.MaPhong_PhanXuong = $("#select-phongban").dxSelectBox("instance").option('value');
            if (!data.MaPhong_PhanXuong) {
                validate = false;
                    $('#select-phongban').dxValidator('instance').validate();
            }
            data.NgayTangCa = Globalize.format($("#date-ngay").dxDateBox("instance").option('value'), 'yyyy-MM-dd');
            if (!data.NgayTangCa) {
                    $('#date-ngay').dxValidator('instance').validate();
                validate = false;
            }
            data.GioBatDau = Globalize.format($("#date-giobatdau").dxDateBox("instance").option('value'), 'HH:mm');
            if (!data.GioBatDau) {
                    $('#date-giobatdau').dxValidator('instance').validate();
                validate = false;
            }
            data.GioKetThuc = Globalize.format($("#date-gioketthuc").dxDateBox("instance").option('value'), 'HH:mm');
            if (!data.GioKetThuc) {
                    $('#date-gioketthuc').dxValidator('instance').validate();
                validate = false;
            }
            data.LyDo = $("#txt-lydo").dxTextBox("instance").option('value')
                if (!data.LyDo) {
                    $('#txt-lydo').dxValidator('instance').validate();
                validate = false;
            }
            data.GhiChu = $("#txt-ghichu").dxTextBox("instance").option('value')
                data.DotXuat = $("#dotxuat").prop("checked") ? true : false;
            data.DuAn = $("#duan").prop("checked") ? true : false;
            if (data.DuAn == true) {
                data.MaDuAn = $("#txt-maduan").dxAutocomplete("instance").option('value')
                    if (!data.MaDuAn) {
                        $('#txt-maduan').dxValidator('instance').validate();
                    validate = false;
                }
            }
            data.IDTangCa = "@Model.IDTangCa";
            data.TCChiTiet = $('#danh-sach').dxDataGrid('instance').option("dataSource")
                if (!data.TCChiTiet || data.TCChiTiet == 0) {
                ShowToast.info("Chưa nhập nhân sự tăng ca", 4000);
                validate = false;
            }
            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            if (validate) {
                KTApp.blockPage({
                overlayColor: '#000000',
                        state: 'primary',
                        message: 'Lưu thông tin...'
                    });
                    $.post("@Url.Action("Save_TangCa", "TangCa")", data).done(function (rs) {
                    KTApp.unblockPage();
                    if (rs.code == 1) {
                        ShowToast.success(rs.text,3000);
                        //window.location.href = '@Url.Action("Edit", "TangCa")?id=' + rs.description+"&op=1";
                    }
                    else if (rs.code == 0) {
                        Swal.fire("Có lỗi! ", rs.text, "error");
                    }
                    else if (rs.indexOf("kt_login_signin_form") > 0) {
                            ShowToast.info('Hết thời gian thao tác xin đăng nhập lại', 3000);
                            setTimeout(function () { window.location.href = '@Url.Action("Login", "Account")'; }, 3000);
                    }

                }).fail(function () {
                    KTApp.unblockPage();
                });
            }
        });
        $("#btn-guimail").click(function () {
            Swal.fire({
            title: "Gửi mail?",
                    html: "@Html.Raw("<b>Chú ý: </b> khi gửi mail là thông tin không thể sửa hoặc xóa")",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Có, gửi ngay!",
                    cancelButtonText: "Hủy!",
                    reverseButtons: true
                }).then(function (result) {
                if (result.value) {
                    var data = {};
                    KTApp.blockPage({
                    overlayColor: '#000000',
                            state: 'primary',
                            message: 'Đang gửi mail...'
                        });
                    try {
                        data.id = "@Model.IDTangCa";
                        data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                            $.post("@Url.Action("GuiMail","TangCa")", data).done(function (rs) {
                            KTApp.unblockPage();
                            if (rs.code == 1) {
                                ShowToast.success(rs.text, 3000);
                                window.location.href = '@Url.Action("Edit", "TangCa")?id=' + rs.description + "&op=1";
                            }
                            else if (rs.code == 0) {
                                Swal.fire("Có lỗi! ", rs.text, "error");
                            }
                            else {
                                Swal.fire("Có lỗi! ", rs.text, "error");
                            }
                        }).fail(function () {
                            KTApp.unblockPage();
                        });
                    } catch (e) {
                        KTApp.unblockPage();
                    }
                } else if (result.dismiss === "cancel") {
                    ShowToast.info('Bạn đã hủy', 3000);

                }
            });

        });
        </script>
    }
    @if ((User.IsInRole("0=0") || User.IsInRole("47=4")) && Model.NguoiTao == ng.NguoiDung)
    {
        <script type="text/javascript">
            $("#btn-xoa").click(function () {
                Swal.fire({
                    title: "Cảnh báo?",
                    html: 'Bạn có chắc xóa thông tin nghỉ phép đang chọn!',
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Có, xóa ngay!",
                    cancelButtonText: "Hủy!",
                    reverseButtons: true
                }).then(function (result) {
                    if (result.value) {
                        KTApp.blockPage({
                            overlayColor: '#000000',
                            state: 'primary',
                            message: 'Đang xóa...'
                        });
                        try {
                            var data = {};
                            data.id = "@Model.IDTangCa";
                            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                            $.post("@Url.Action("Delete_TangCa", "TangCa")", data).done(function (rs) {
                                KTApp.unblockPage();
                                if (rs.code == 1) {
                                    ShowToast.success( rs.text,3000);
                                    window.location.href = '@Url.Action("Create", "TangCa")?';
                                }
                                else if (rs.code == 0) {
                                     Swal.fire("Có lỗi! ", rs.text, "error");
                                }
                                else if (rs.indexOf("kt_login_signin_form") > 0) {
                                     ShowToast.info('Hết thời gian thao tác xin đăng nhập lại', 3000);
                                     setTimeout(function () { window.location.href = '@Url.Action("Login", "Account")'; }, 3000);
                                }
                            }).fail(function () {
                                KTApp.unblockPage();
                            });
                        } catch (e) {
                            KTApp.unblockPage();
                        }
                    } else if (result.dismiss === "cancel") {
                        ShowToast.info('Bạn đã hủy xóa', 3000);

                    }
                });

            });

        </script>
    }
    @if ((User.IsInRole("0=0") || User.IsInRole("48=1")) && ng.NhanSu == Model.IDNguoiDuyetKeTiep && Model.Block == true)
    {
        <script>
            $("#btn-duyet").click(function () {
                Swal.fire({
                    title: "Thông báo!",
                    html: 'Bạn có chắc duyệt tăng ca đang chọn!',
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Có, duyệt ngay!",
                    cancelButtonText: "Hủy!",
                    reverseButtons: true
                }).then(function (result) {
                    if (result.value) {
                        KTApp.blockPage({
                            overlayColor: '#000000',
                            state: 'primary',
                            message: 'Đang duyệt...'
                        });
                        try {
                            var lid = [];
                            var data = {};
                            lid.push("@Model.IDTangCa");
                            if (lid.length == 0) {
                                ShowToast.warning('Chưa chọn thông tin duyệt', 3000);
                            }
                            data.lid = lid;
                            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                            $.post("@Url.Action("Mass_Duyet_TangCa", "TangCa")", data).done(function (rs) {
                                KTApp.unblockPage();
                                if (rs.code == 1) {
                                    ShowToast.success(rs.text, 4000);
                                    window.location.href = '@Url.Action("DuyetTangCa", "TangCa")';
                                }
                                else if (rs.code == 0) {
                                    if (rs.text.length > 0)
                                        Swal.fire("Có lỗi! ", rs.text, "error");
                                }
                                else if (rs.indexOf("kt_login_signin_form") > 0) {
                                     ShowToast.info('Hết thời gian thao tác xin đăng nhập lại', 3000);
                                     setTimeout(function () { window.location.href = '@Url.Action("Login", "Account")'; }, 3000);
                                }
                            }).fail(function () {
                                KTApp.unblockPage();
                            });
                        } catch (e) {
                            KTApp.unblockPage();
                        }
                    } else if (result.dismiss === "cancel") {
                        ShowToast.info('Bạn đã hủy duyệt', 3000);

                    }
                });
            });
            $("#btn-tuchoi").click(function () {
                Swal.fire({
                    title: "Thông báo!",
                    html: 'Bạn có chắc hủy tăng ca đang chọn!',
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Có, hủy ngay!",
                    cancelButtonText: "Hủy!",
                    reverseButtons: true
                }).then(function (result) {
                    if (result.value) {
                        KTApp.blockPage({
                            overlayColor: '#000000',
                            state: 'primary',
                            message: 'Đang hủy...'
                        });
                        try {
                            var lid = [];
                            var data = {};
                            var LyDo = prompt("Nhập lý do hủy", "");
                            if (LyDo == null || LyDo == "") {
                                ShowToast.warning('Chưa nhập lý do hủy', 3000);
                                return;
                            }
                            lid.push("@Model.IDTangCa");
                            if (lid.length == 0) {
                                ShowToast.warning('Chưa chọn thông tin duyệt', 3000);
                            }
                            data.lid = lid;
                            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                            data.LyDo = LyDo;
                            $.post("@Url.Action("Mass_Cancel_TangCa", "TangCa")", data).done(function (rs) {
                                if (rs.code == 1) {
                                    ShowToast.success( rs.text, 4000);
                                    window.location.href = '@Url.Action("DuyetTangCa", "TangCa")';
                                }
                                else if (rs.code == 0) {
                                    Swal.fire("Có lỗi! ", rs.text, "error");
                                }
                                else {
                                    ShowToast.info('Hết thời gian thao tác đăng nhập lại', 3000);
                                    window.location.href = '@Url.Action("Login", "Account")?';
                                }
                            }).fail(function () {
                                KTApp.unblockPage();
                            });
                        } catch (e) {
                            KTApp.unblockPage();
                        }
                    } else if (result.dismiss === "cancel") {
                        ShowToast.info('Bạn đã hủy duyệt', 3000);

                    }
                });
            })
        </script>
    }
    @*nhân sự hủy tăng ca*@
    @if (User.IsInRole("0=0") || User.IsInRole("44=1")) {
        <script type="text/javascript">
            $("#btn-tuchoinhansu").click(function () {
                 Swal.fire({
                    title: "Thông báo!",
                    html: 'Bạn có chắc hủy tăng ca đang chọn!',
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Có, hủy ngay!",
                    cancelButtonText: "Hủy!",
                    reverseButtons: true
                }).then(function (result) {
                    if (result.value) {
                        KTApp.blockPage({
                            overlayColor: '#000000',
                            state: 'primary',
                            message: 'Đang hủy...'
                        });
                        try {
                            var lid = [];
                            var data = {};
                            var LyDo = prompt("Nhập lý do hủy", "");
                            if (LyDo == null || LyDo == "") {
                                ShowToast.warning('Chưa nhập lý do hủy', 3000);
                                return;
                            }
                            lid.push("@Model.IDTangCa");
                            if (lid.length == 0) {
                                ShowToast.warning('Chưa chọn thông tin duyệt', 3000);
                            }
                            data.lid = lid;
                            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                            data.LyDo = LyDo;
                            $.post("@Url.Action("Mass_Cancel_TangCa", "TangCa")", data).done(function (rs) {
                                if (rs.code == 1) {
                                    ShowToast.success( rs.text, 4000);
                                    window.location.href = '@Url.Action("QuanLyTangCa", "TangCa")';
                                }
                                else if (rs.code == 0) {
                                    Swal.fire("Có lỗi! ", rs.text, "error");
                                }
                                else  if (rs.indexOf("kt_login_signin_form") > 0) {
                                     ShowToast.info('Hết thời gian thao tác xin đăng nhập lại', 3000);
                                     setTimeout(function () { window.location.href = '@Url.Action("Login", "Account")'; }, 3000);
                                }
                            }).fail(function () {
                                KTApp.unblockPage();
                            });
                        } catch (e) {
                            KTApp.unblockPage();
                        }
                    } else if (result.dismiss === "cancel") {
                        ShowToast.info('Bạn đã hủy duyệt', 3000);

                    }
                });
            });
        </script>
    }
}