@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Menu.ChamCongKhongThanhQuanLy;
}
@section Link{
    <div class="d-flex align-items-center flex-wrap mr-1">

        <div class="d-flex align-items-baseline flex-wrap mr-5">

            @*<h5 class="text-dark font-weight-bold my-1 mr-5">
                    Chi tiết yêu cầu #1

                </h5>*@
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 ">
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.ChamCongKhongThanh</a>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.ChamCongKhongThanhQuanLy</a>
                </li>

            </ul>
        </div>
    </div>
}
@section Header{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <div class="form-group row">
            <div class="col-lg-3">
                <label class="form-label">Từ ngày</label>
                <div id="date-tungay"></div>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Đến ngày</label>
                <div id="date-denngay"></div>
            </div>
            <div class="col-lg-3">
                <label class="form-label">
                    Phòng/Phân Xưởng
                </label>
                <div id="select-phongban">
                </div>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Họ tên/Mã nhân viên</label>
                <input type="text" id="txt-hoten" class="form-control" placeholder="Họ tên/Mã nhân viên">
            </div>
        </div>
    </div>
    <div class="d-flex">
        @if (User.IsInRole("44=1") || User.IsInRole("0=0"))
        {
            <button type="button" class="btn btn-success font-weight-bolder mr-2" onclick="XuatFileExcel()" title="@Resources.App.XuatFileExcel">
                <i class="icon-md fas fa-file-export"></i> @Resources.App.XuatFileExcel
            </button>
        }

        @*<button type="button" class="btn btn-light-primary font-weight-bolder mr-2" data-toggle="modal" data-target="#ModalFilter" title="@Resources.App.BoLoc">
                <i class="icon-md fas fa-filter"></i> @Resources.App.BoLoc
            </button>*@
        <button type="button" class="btn btn-warning" onclick="TimKiem()" title=" @Resources.App.TimKiem">
            <i class="icon-md fas fa-search"></i>
            @Resources.App.TimKiem
        </button>
    </div>
}
<div class="row">
    <div class="col-lg-12" id="mobliesize">
        <div id="danh-sach"></div>
    </div>
</div>
@section CustomScripts{
    <script type="text/javascript">
        var maphongban = "", tungay,denngay,manv = "";
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        tungay = Globalize.format(firstDay, "yyyy-MM-dd");
        $(function () {
            var wh = $(window).height();
            $('#danh-sach').height(wh - 200);
            $("#date-tungay").dxDateBox({
                value: firstDay,
                width: '100%',
                type: "date",
                displayFormat: 'dd/MM/yyyy',
                showClearButton: true,
                onValueChanged: function (data) {
                    tungay = Globalize.format(data.value, "yyyy-MM-dd");
                },
            }).dxDateBox("instance");
            $("#date-denngay").dxDateBox({
                value: date,
                width: '100%',
                type: "date",
                displayFormat: 'dd/MM/yyyy',
                showClearButton: true,
                onValueChanged: function (data) {
                    denngay = Globalize.format(data.value, "yyyy-MM-dd");
                },
            }).dxDateBox("instance");
            setPhongBan('select-phongban',@Html.Raw(TTFPortal.Class.DanhMuc.DMPhongBan()), false, 'Phòng/Phân xưởng');
            LoadData();
        });
        function TimFilter() {

            tungay = Globalize.format($("#date-tungay").dxDateBox("instance").option('value'), 'yyyy-MM-dd');
            denngay = Globalize.format($("#date-denngay").dxDateBox("instance").option('value'), 'yyyy-MM-dd');
            manv = $("#txt-hoten").val();
            maphongban = $("#select-phongban").dxSelectBox("instance").option('value');
            LoadData();

        }
        function TimKiem() {
            denngay = null;
            denngay = null;
            manv = null;
            maphongban = null;
            maloainghiphep = null;
            LoadData();
        }
        function LoadData() {
            KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang tải dữ liệu...' });
            var data = {};
            data.tuNgay = tungay;
            data.denNgay = denngay;
            data.maNV = manv;
            data.maPhongBan = maphongban;
          //  data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            $.get("@Url.Action("GetNhanSuChamCongKhongThanh", "ChamCongKhongThanh")", data).done(function (rs) {
                $("#danh-sach").dxDataGrid({
                    dataSource: rs,
                    //selection: {
                    //    mode: "multiple"
                    //},
                    remoteOperations: {
                        paging: true,
                        filtering: true
                    },
                    keyExpr: "IDXacNhanCong",
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    paging: {
                        pageSize: 20
                    },
                    showRowLines: true,
                    rowAlternationEnabled: true,
                    showBorders: true,
                    hoverStateEnabled: true,
                    allowColumnReordering: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 15, 20, 50, 100],
                        showInfo: true
                    },
                    columnFixing: {
                        enabled: false
                    },
                    export: {
                        enabled: true,

                        allowExportSelectedData: true
                    },
                    groupPanel: {
                        visible: true
                    },
                    columns: [
                        {
                            dataField: "MaNV",
                            caption: "Mã NV",
                            width: 150,
                            allowEditing: false,
                            fixed: true
                        },
                        {
                            dataField: "HoVaTen",
                            caption: "Họ và tên",
                            width: 150,
                            allowEditing: false,
                            fixed: true
                            //dataType: "date",
                            //format: 'dd/MM/yyyy',
                        },
                        {
                            dataField: "TenBoPhan",
                            caption: "Phòng/Phân xưởng",
                            width: 200,
                            allowEditing: false,
                            fixed: true

                            //fixed: true
                        },
                        {
                            dataField: "TenTrangThaiDuyet",
                            caption: "Trạng thái duyệt",
                            width: 200, allowEditing: false,
                            //fixed: true
                        },
                        {
                            dataField: "Ngay",
                            caption: "Ngày xác nhận",
                            width: 120, allowEditing: false,
                            //fixed: true
                        },
                        {
                            dataField: "NguoiDuyet",
                            caption: "Người duyệt",
                            width: 150, allowEditing: false,
                        },

                        {
                            dataField: "LoaiXacNhan",
                            caption: "Loại xác nhận",
                            width: 150, allowEditing: false,
                        },
                        {
                            dataField: "ThoiGian",
                            caption: "Thời gian",
                            width: 120, allowEditing: false,
                        },
                        {
                            dataField: "CaDem",
                            caption: "Ca",
                            width: 120, allowEditing: false,
                        },
                        {
                            dataField: "NguyenNhan",
                            caption: "Nguyên nhân",
                            width: 150, allowEditing: false,
                        }
                    ],
                     onRowDblClick: function (e) {
                        window.location.href = '@Url.Action("NhanSuChamCongKhongThanhChiTiet", "ChamCongKhongThanh")?id=' + e.key;
                    },
                });
                KTApp.unblockPage();
            }).fail(function () { KTApp.unblockPage();});
        }
        function XuatFileExcel() {
            var item = $('#danh-sach').dxDataGrid('instance');
            $("#danh-sach").dxDataGrid("instance").exportToExcel(false);
        }
    </script>
}