
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Menu.ChamCongKhongThanh;
}
@section Link{
    <div class="d-flex align-items-center flex-wrap mr-1">

        <div class="d-flex align-items-baseline flex-wrap mr-5">

            @*<h5 class="text-dark font-weight-bold my-1 mr-5">
                    Chi tiết yêu cầu #1

                </h5>*@
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 ">
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.ChamCongKhongThanh</a>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.ChamCongKhongThanhImport</a>
                </li>

            </ul>
        </div>
    </div>
}
@section Header{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <div class="col-lg-3">
            <label class="form-label">Từ ngày</label>
            <div id="date-tungay"></div>
        </div>
        <div class="col-lg-3">
            <label class="form-label">Đến ngày</label>
            <div id="date-denngay"></div>
        </div>
        <div class="col-lg-3">
            <label class="form-label">Mã NV/Họ Tên</label>
            <input type="text" id="txt-hoten" class="form-control" placeholder="Họ tên/Mã nhân viên">
        </div>
       
    </div>
    <div class="d-flex">
        <button type="button" class="btn btn-warning  mr-2" onclick="LoadData()">
            <i class="icon-md fas fa-search"></i>
            @Resources.App.TimKiem
        </button>
        @if (User.IsInRole("55=2") || User.IsInRole("0=0"))
        {
            <button type="button" class="btn btn-primary font-weight-bolder mr-2" id="btn-chonfile" data-toggle="modal" data-target="#ImportModal">
                <i class="icon-md fas fa-long-arrow-alt-up"></i> @Resources.App.DocFileXecel
            </button>
        }
       @* <a href="@Url.Action("ExportFileImportNhanSu","NhanSu")" class="btn btn-info font-weight-bolder mr-2"><i class="icon-lg far fa-file-excel"></i> @Resources.App.ExcelFileMau</a>*@
    </div>
}
<div class="row">
    <div class="col-lg-12" id="mobliesize">
        <div id="danh-sach"></div>
    </div>
</div>
<div class="modal fade" id="ImportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bold" id="exampleModalLabel">Nhập dữ liệu từ tập tin excel</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate is-alter" novalidate="novalidate">
                    <div class="form-group">
                        <a style="color:red" href="@Url.Action("XuatFileMau","ChamCongKhongThanh")">Tải file excel mẫu </a>
                        <hr />
                        <label class="form-label" for="full-name">Tập tin *</label>
                        <div class="form-control-wrap">
                            <input type="file" name="UploadedFile" id="UploadedFile" accept=".xlsx" />
                        </div>

                    </div>
                    <div class="form-control-wrap">
                        <input type="checkbox" name="chk-cadem" id="chk-cadem" /> Ca đêm
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info font-weight-bolder mr-5" id="btn-luufile">
                            <i class="icon-1x text-dark-40 ki ki-long-arrow-up"></i> Lưu thông tin
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section CustomScripts{
    <script type="text/javascript">
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        $(function () {
            $('#danh-sach').height($(window).height() - 200);
            $("#date-tungay").dxDateBox({
                value: firstDay,
                width: '100%',
                type: "date",
                displayFormat: 'dd/MM/yyyy',
                showClearButton: true,
                onValueChanged: function (data) {
                    tungay = Globalize.format(data.value, "yyyy-MM-dd");
                },
            }).dxDateBox("instance");
            $("#date-denngay").dxDateBox({
                value: date,
                width: '100%',
                type: "date",
                displayFormat: 'dd/MM/yyyy',
                showClearButton: true,
                onValueChanged: function (data) {
                    tungay = Globalize.format(data.value, "yyyy-MM-dd");
                },
            }).dxDateBox("instance");
            LoadData();
        });
        function LoadData() {
            KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang tải dữ liệu...' });
            var data = {};
            data.tuNgay = Globalize.format($("#date-tungay").dxDateBox("instance").option('value'), 'yyyy-MM-dd');
            data.denNgay = Globalize.format($("#date-denngay").dxDateBox("instance").option('value'), 'yyyy-MM-dd');
            data.hoVaTen = $("#txt-hoten").val();
            $.get("@Url.Action("getChamCongKhongThanh", "ChamCongKhongThanh")", data).done(function (rs) {
                $("#danh-sach").dxDataGrid({
                    dataSource: rs,
                    remoteOperations: {
                        paging: true,
                        filtering: true
                    },
                    keyExpr: "IDXacNhanCong",
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    paging: {
                        pageSize: 20
                    },
                    showRowLines: true,
                    rowAlternationEnabled: true,
                    showBorders: true,
                    hoverStateEnabled: true,
                    allowColumnReordering: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 15, 20, 50, 100],
                        showInfo: true
                    },
                    columnFixing: {
                        enabled: false
                    },

                    columns: [
                        {
                            dataField: "MaNV",
                            caption: "Mã nhân viên",
                            width: 100,
                            allowEditing: false
                        },
                        {
                            dataField: "HoVaTen",
                            caption: "Họ và tên",
                            width: 150,
                            allowEditing: false
                        },
                        {
                            dataField: "TenPhong_PhanXuong",
                            caption: "Tên phòng/Phân xưởng",
                            width: 150,
                            allowEditing: false, 
                        },
                        {
                            dataField: "Ngay",
                            caption: "Ngày",
                            width: 100,
                            allowEditing: false,
                        },
                        {
                            dataField: "ThoiGian",
                            caption: "Thời gian",
                            width: 100,
                            allowEditing: false, 
                        },
                        {
                            dataField: "Loai",
                            caption: "Loại chấm không thành",
                            width: 80, allowEditing: false,
                        },
                        {
                            dataField: "Ca",
                            caption: "Ca",
                            width: 80, 
                        },
                        {
                            dataField: "TenTrangThaiDuyet",
                            caption: "Tên trạng thái",
                            width: 80,
                        },
                        {
                            dataField: "TenNguoiDuyet",
                            caption: "Người duyệt",
                            width: 150,
                        },
                        {
                            dataField: "NguyenNhan",
                            caption: "Lý do",
                            width: 150,
                        },
                        {
                            dataField: "GhiChu",
                            caption: "Ghi chú",
                            width: 150
                        }
                    ]
                });
                KTApp.unblockPage();
            }).fail(function () { KTApp.unblockPage();});
        }
    </script>
    @if (User.IsInRole("0=0") || User.IsInRole("52=2")) {
        <script type="text/javascript">
            $("#btn-luufile").click(function () {
                var formData = new FormData();
                var files = $("#UploadedFile").get(0).files;
                var caDem = $("#chk-cadem").prop("checked") ? true : false;
                formData.append('importFile', files[0]);
                formData.append('caDem', caDem);
                formData.append('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]').val());
                KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang import dữ liệu...' });
                $.ajax({
                    url: '/ChamCongKhongThanh/ImportExcelUploadChamCongKhongThanh',
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (rs) {
                        KTApp.unblockPage();
                        //Sho(rs.text)
                        if (rs.code == 1) {
                            ShowToast.success(rs.text, 3000);
                        }
                        else {
                            Swal.fire("Có lỗi! ", rs.text, "error");
                        }
                    },
                    error: function (err) {
                        toastr.error("Lỗi hệ thống liên hệ nhà quản trị để được hỗ trợ" + err);
                        KTApp.unblockPage();
                    }
                });
            });
        </script>
    }
}