@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.App.XacNhanCongThemMoi;
    var ng = TTFPortal.Class.Users.GetNguoiDung(User.Identity.Name);
}
<link href="~/Content/css/wizard-4790f.css?v=2.0.1" rel="stylesheet" type="text/css" />
@section Link{
    <div class="d-flex align-items-center flex-wrap mr-1">

        <div class="d-flex align-items-baseline flex-wrap mr-5">

            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 ">
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.Menu.XacNhanCong</a>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.App.XacNhanCongThemMoi</a>
                </li>

            </ul>
        </div>
    </div>
}
@section Header{
    <div class="d-flex align-items-center flex-wrap mr-1">
    </div>
    <div class="d-flex align-items-center">
        <a href="@Url.Action("XacNhanCongCuaBan","XacNhanCong")" class="btn btn-default font-weight-bold  px-2 font-size-base  mr-2"> <i class="icon-md fas fa-arrow-left"></i> @Resources.App.QuayLai</a>
        @if (User.IsInRole("45=2") || User.IsInRole("0=0"))
        {
            <a href="@Url.Action("Create", "XacNhanCong")" class="btn btn-info font-weight-bold  px-2 font-size-base  mr-2" title="@Resources.App.NhapLai"> <i class="icon-md fas fa-sync"></i> @Resources.App.NhapLai</a>
            <button type="submit" class="btn btn-warning" id="btn-capnhat" title="@Resources.App.CapNhat">
                <i class="icon-md far fa-save"></i>
                @Resources.App.CapNhat
            </button>
        }
    </div>
}
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header">
                <h3 class="card-title">Thông tin xác nhận công</h3>
            </div>
            <!--begin::Form-->
            <form>
                <div class="card-body center">
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="form-labe">Ngày<b class="text-danger">*</b></label>
                            <div id="date-ngay">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="radio-inline" style="padding-top:20%">
                                <label class="radio">
                                    <input type="radio" name="thoigian" value="true" class="thoigian" id="giovao">
                                    <span></span>Giờ vào
                                </label>
                                <label class="radio">
                                    <input type="radio" name="thoigian" value="false" class="thoigian" id="giora">
                                    <span></span>Giờ Ra
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-labe">Thời gian<b class="text-danger">*</b></label>
                            <div id="date-thoigian">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="radio-inline" style="padding-top:20%">
                                <label class="radio">
                                    <input type="radio" name="ca" value="false" class="ca" id="cangay">
                                    <span></span>Ca ngày
                                </label>
                                <label class="radio">
                                    <input type="radio" name="ca" value="true" class="ca" id="cadem">
                                    <span></span>Ca đêm
                                </label>
                            </div>
                        </div>
                        <input type="hidden" id="txt-nhansu" name="txt-nhansu" />
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label class="form-labe">Nguyên nhân <b class="text-danger">*</b></label>
                            @* <input type="text" id="txt-lydo" name="txt-lydo" class="form-control" required />*@
                            <div id="txt-lydo">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label class="form-labe">Mã nhân viên</label>
                            <input type="text" id="txt-manv" name="txt-manv" class="form-control" />
                        </div>
                        <div class="col-lg-4">
                            <label class="form-labe">Họ và tên</label>
                            <input type="text" id="txt-hoten" name="txt-hoten" class="form-control" readonly />
                        </div>
                        <div class="col-lg-4">
                            <label class="form-labe">Phòng ban/Bộ phận </label>
                            <input type="text" id="txt-phongban" name="txt-phongban" class="form-control" readonly />
                        </div>
                    </div>

                </div>

                @*<div class="card-footer">
                    <button type="reset" class="btn btn-primary mr-2">Submit</button>
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                </div>*@
            </form>
            <!--end::Form-->
        </div>
        <!--end::Card-->
    </div>
@section CustomScripts{
    <script type="text/javascript">
        var date = new Date(), MaNV = '@ng.MaNV', ngay,thoigian,data;
        //tungay = denngay = Globalize.format(date, "yyyy-MM-dd")
        $('body').addClass('subheader-fixed');
        $(".thoigian").change(function () {
            if (data.NhanSu != null) {
                if ($(this).val() == "true") {

                    thoigian = data.GioVao.Hours.toString().padStart(2, "0") + ":" + data.GioVao.Minutes.toString().padStart(2, "0");
                }
                else {
                    thoigian = data.GioRa.Hours.toString().padStart(2, "0") + ":" + data.GioRa.Minutes.toString().padStart(2, "0");
                }
                $("#date-thoigian").dxDateBox({
                    value: thoigian,
                }).dxDateBox("instance");
            }
        });
        $(function () {

            $("#txt-lydo").dxTextBox({
                showClearButton: true,
                placeholder: "Nhập nguyên nhân",
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: "Chưa nguyên nhân"
                }]
            });
            $("#date-ngay").dxDateBox({
                value: date,
                width: '100%',
                type: "date",
                displayFormat: 'dd/MM/yyyy',
                showClearButton: true,
                onValueChanged: function (data) {
                    ngay = Globalize.format(data.value, "yyyy-MM-dd");
                },
                invalidDateMessage: "Ngày nhập không hợp lệ"
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: "Chưa nhập ngày xác nhận"
                }]
                });
            $("#date-thoigian").dxDateBox({
                value: null,
                width: '100%',
                type: "time",
                displayFormat: 'HH:mm',
                showClearButton: true,
                onValueChanged: function (data) {
                    thoigian = Globalize.format(data.value, "HH:mm");
                },
                invalidDateMessage: "Thời gian không hợp lệ"
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: "Chưa nhập thời gian"
                }]
            });
            TimNhanVien();
            $("#cangay").prop("checked", true);
        });
        $("#txt-manv").on('keyup', function (event) {
            if (event.keyCode === 13) {
                MaNV = $("#txt-manv").val();
                TimNhanVien();
            }
        });

        function TimNhanVien() {
            $.post("@Url.Action("TimNhanVien","HeThong")", { MaNV: MaNV }).done(function (rs) {
                if (rs.code == 0) {
                    Swal.fire("Có lỗi! ", rs.text, "error");
                    $("#txt-manv").val("");
                    $("#txt-nhansu").val("");
                    $("#txt-hoten").val("");
                    $("#txt-phongban").val("");
                    $("#date-thoigian").dxDateBox({
                        value: null,
                    }).dxDateBox("instance");
                    $("#giovao").prop("checked", false);
                    data = {};
                }
                else if (rs.code == 1) {
                    $("#txt-manv").val(rs.data.MaNV);
                    $("#txt-nhansu").val(rs.data.NhanSu);
                    $("#txt-hoten").val(rs.data.HoVaTen);
                    $("#txt-phongban").val(rs.data.TenPhongBan);
                    data = rs.data;
                    thoigian = data.GioVao.Hours.toString().padStart(2, "0") + ":" + data.GioVao.Minutes.toString().padStart(2, "0");
                    $("#date-thoigian").dxDateBox({
                        value: thoigian,
                    }).dxDateBox("instance");
                    $("#giovao").prop("checked", true);
                    $("#cangay").prop("checked", true);
                }
                else if (rs.indexOf("kt_login_signin_form") > 0) {
                     ShowToast.info('Hết thời gian thao tác xin đăng nhập lại', 3000);
                     setTimeout(function () { window.location.href = '@Url.Action("Login", "Account")'; }, 3000);
                }
            }).fail(function (error) { });
        }
    </script>
    @if (User.IsInRole("0=0") || User.IsInRole("45=2"))
    {
        <script type="text/javascript">
           
            $("#btn-capnhat").click(function () {
               
                var data = {}, validate = true;

                data.Ngay = Globalize.format($("#date-ngay").dxDateBox("instance").option('value'), 'yyyy-MM-dd');
                if (!data.Ngay) {
                    $('#date-ngay').dxValidator('instance').validate();
                    validate = false;
                }
               
                data.NguyenNhan = $("#txt-lydo").dxTextBox("instance").option('value')
                if (!data.NguyenNhan) {
                    $('#txt-lydo').dxValidator('instance').validate();
                    validate = false;
                }
                data.GioVao = $("#giovao").prop("checked") ? true : false;
                data.CaDem = $("#cadem").prop("checked") ? true : false;

                data.ThoiGian = Globalize.format($("#date-thoigian").dxDateBox("instance").option('value'), 'HH:mm');
                if (!data.ThoiGian) {
                    $('#date-thoigian').dxValidator('instance').validate();
                    validate = false;
                }
                data.NhanSu = $("#txt-nhansu").val();
                if (!data.NhanSu) {
                    ShowToast.warning('Chưa nhập thông tin nhân sự', 3000);
                    validate = false;
                }
                data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                if (validate) {
                    KTApp.blockPage({
                        overlayColor: '#000000',
                        state: 'primary',
                        message: 'Lưu thông tin...'
                    });
                    $.post("@Url.Action("Add_XacNhanCong", "XacNhanCong")", data).done(function (rs) {
                        KTApp.unblockPage();
                        if (rs.code == 1) {
                            ShowToast.success(rs.text,4000);
                             window.location.href = '@Url.Action("Edit", "XacNhanCong")?id=' + rs.description+"&op=1";
                        }
                        else if (rs.code == 0) {
                             Swal.fire("Có lỗi! ", rs.text, "error");
                        }
                        else if (rs.indexOf("kt_login_signin_form") > 0) {
                             ShowToast.info('Hết thời gian thao tác xin đăng nhập lại', 3000);
                             setTimeout(function () { window.location.href = '@Url.Action("Login", "Account")'; }, 3000);
                        }

                    }).fail(function () {
                        KTApp.unblockPage();
                    });
                }
            })
        </script>
    }
}