@using TTFPortal.Class;
@{
    TTFPortal.Models.NguoiDungModel ng = TTFPortal.Class.Users.GetNguoiDung(User.Identity.Name);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title - @Resources.App.TenUngDung</title>
    <link href="~/Content/css/fonts.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">   @Styles.Render("~/Content/css/extreme")
    @RenderSection("CSSFileTop", required: false)
    <link href="~/Content/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css/bundle")

    @RenderSection("CSSFile", required: false)
    <link rel="shortcut icon" href="~/Content/images/logo.png" />
    @Styles.Render("~/Content/css/site")
    <style>
        .header-menu-mobile {
            /*background-color: #7c2f2e;*/
        }

        /*#Thongbao {
            color: white;
            text-decoration: none;
            padding: 1px 26px;
            position: relative;
            display: inline-block;
        }

            #Thongbao #badge {
                position: absolute;
                top: 10px;
                right: 20px;
                background: #fffff;
                color: white;
            }*/
    </style>
</head>


<body id="kt_body" class="page-loading-enabled header-fixed header-mobile-fixed subheader-enabled aside-enabled aside-static page-loading">
    @Html.AntiForgeryToken()
    <div class="page-loader page-loader-logo" wfd-invisible="true">
        <img alt="Logo" class="max-h-75px" src="~/Content/images/logo.png">
        <div class="spinner spinner-primary"></div>
    </div>
    <div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
        <!--begin::Logo-->

        <img alt="Logo" src="~/Content/images/logo.png" class="max-h-30px" id="kt_aside_toggle1" />

        <!--end::Logo-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <button class="btn btn-icon rounded-0 ml-4" id="kt_header_mobile_toggle">
                <span class="svg-icon svg-icon-xxl">

                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                            <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg>

                </span>
            </button>
            <button class="btn btn-icon rounded-0 ml-2" id="kt_header_mobile_topbar_toggle">
                <span class="svg-icon svg-icon-xl">

                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                        </g>
                    </svg>

                </span>
            </button>
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->
    <!--begin::Aside-->
    <!--end::Aside-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" class="header header-fixed">
                    <!--begin::Container-->
                    <div class="container-fluid">
                        <!--begin::Header Menu Wrapper-->
                        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                            <!--begin::Logo-->
                            <div class="header-logo mr-10 d-none d-lg-flex" id="kt_aside_toggle">
                                @*<a href="~/">*@
                                <img alt="Logo" src="~/Content/images/logo.png" class="h-40px" />

                                @* </a>*@
                            </div>
                            @RenderSection("Link", required: false)
                            <!--end::Logo-->
                            <div class="aside aside-left d-flex flex-column flex-row-auto" id="kt_aside">
                                <!--begin::Aside Menu-->
                                <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
                                    <!--begin::Menu Container-->
                                    <div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
                                        <!--begin::Menu Nav-->
                                        <ul class="menu-nav">
                                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                                @if (User.IsInRole("0=0") || User.IsInRole("11=1"))
                                                {
                                                    <a href="javascript:;" class="menu-link menu-toggle">
                                                        <span class="svg-icon menu-icon">
                                                            <!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                    <path d="M3.5,21 L20.5,21 C21.3284271,21 22,20.3284271 22,19.5 L22,8.5 C22,7.67157288 21.3284271,7 20.5,7 L10,7 L7.43933983,4.43933983 C7.15803526,4.15803526 6.77650439,4 6.37867966,4 L3.5,4 C2.67157288,4 2,4.67157288 2,5.5 L2,19.5 C2,20.3284271 2.67157288,21 3.5,21 Z" fill="#000000" opacity="0.3" />
                                                                    <path d="M12,13 C10.8954305,13 10,12.1045695 10,11 C10,9.8954305 10.8954305,9 12,9 C13.1045695,9 14,9.8954305 14,11 C14,12.1045695 13.1045695,13 12,13 Z" fill="#000000" opacity="0.3" />
                                                                    <path d="M7.00036205,18.4995035 C7.21569918,15.5165724 9.36772908,14 11.9907452,14 C14.6506758,14 16.8360465,15.4332455 16.9988413,18.5 C17.0053266,18.6221713 16.9988413,19 16.5815,19 C14.5228466,19 11.463736,19 7.4041679,19 C7.26484009,19 6.98863236,18.6619875 7.00036205,18.4995035 Z" fill="#000000" opacity="0.3" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                        <span class="menu-text">@Resources.Menu.NhanSu</span>
                                                        <i class="menu-arrow"></i>
                                                    </a>
                                                }
                                                <div class="menu-submenu">
                                                    <i class="menu-arrow"></i>
                                                    <ul class="menu-subnav">
                                                        <li class="menu-item menu-item-parent" aria-haspopup="true">
                                                            <span class="menu-link">
                                                                <span class="menu-text">@Resources.Menu.NhanSu</span>
                                                            </span>
                                                        </li>
                                                        @if (User.IsInRole("0=0") || User.IsInRole("11=1"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("Index", "NhanSu")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.NhanSuThongTin</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (User.IsInRole("0=0") || User.IsInRole("11=2"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("CapNhatHinhNen", "NhanSu")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.NhanSuCapNhatHinhAnh</span>
                                                                </a>
                                                            </li>
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("DSInTheTen", "NhanSu")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.NhanSuInTheTen</span>
                                                                </a>
                                                            </li>
                                                        }

                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                                @if (User.IsInRole("0=0") || User.IsInRole("42=1") || User.IsInRole("43=1") || User.IsInRole("44=1"))
                                                {
                                                    <a href="javascript:;" class="menu-link menu-toggle">
                                                        <span class="svg-icon menu-icon">
                                                            <!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                    <path d="M7.14319965,19.3575259 C7.67122143,19.7615175 8.25104409,20.1012165 8.87097532,20.3649307 L7.89205065,22.0604779 C7.61590828,22.5387706 7.00431787,22.7026457 6.52602525,22.4265033 C6.04773263,22.150361 5.88385747,21.5387706 6.15999985,21.0604779 L7.14319965,19.3575259 Z M15.1367085,20.3616573 C15.756345,20.0972995 16.3358198,19.7569961 16.8634386,19.3524415 L17.8320512,21.0301278 C18.1081936,21.5084204 17.9443184,22.1200108 17.4660258,22.3961532 C16.9877332,22.6722956 16.3761428,22.5084204 16.1000004,22.0301278 L15.1367085,20.3616573 Z" fill="#000000" />
                                                                    <path d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z M19.068812,3.25407593 L20.8181344,5.00339833 C21.4039208,5.58918477 21.4039208,6.53893224 20.8181344,7.12471868 C20.2323479,7.71050512 19.2826005,7.71050512 18.696814,7.12471868 L16.9474916,5.37539627 C16.3617052,4.78960984 16.3617052,3.83986237 16.9474916,3.25407593 C17.5332781,2.66828949 18.4830255,2.66828949 19.068812,3.25407593 Z M5.29862906,2.88207799 C5.8844155,2.29629155 6.83416297,2.29629155 7.41994941,2.88207799 C8.00573585,3.46786443 8.00573585,4.4176119 7.41994941,5.00339833 L5.29862906,7.12471868 C4.71284263,7.71050512 3.76309516,7.71050512 3.17730872,7.12471868 C2.59152228,6.53893224 2.59152228,5.58918477 3.17730872,5.00339833 L5.29862906,2.88207799 Z" fill="#000000" opacity="0.3" />
                                                                    <path d="M11.9630156,7.5 L12.0475062,7.5 C12.3043819,7.5 12.5194647,7.69464724 12.5450248,7.95024814 L13,12.5 L16.2480695,14.3560397 C16.403857,14.4450611 16.5,14.6107328 16.5,14.7901613 L16.5,15 C16.5,15.2109164 16.3290185,15.3818979 16.1181021,15.3818979 C16.0841582,15.3818979 16.0503659,15.3773725 16.0176181,15.3684413 L11.3986612,14.1087258 C11.1672824,14.0456225 11.0132986,13.8271186 11.0316926,13.5879956 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                        <span class="menu-text">@Resources.Menu.NghiPhep</span>
                                                        <i class="menu-arrow"></i>
                                                    </a>
                                                }
                                                <div class="menu-submenu">
                                                    <i class="menu-arrow"></i>
                                                    <ul class="menu-subnav">
                                                        <li class="menu-item menu-item-parent" aria-haspopup="true">
                                                            <span class="menu-link">
                                                                <span class="menu-text">@Resources.Menu.NghiPhep</span>
                                                            </span>
                                                        </li>
                                                        <li class="menu-item" aria-haspopup="true">
                                                            <a href="@Url.Action("NghiPhepCuaBan", "NghiPhep")" class="menu-link">
                                                                <i class="menu-bullet menu-bullet-dot">
                                                                    <span></span>
                                                                </i>
                                                                <span class="menu-text">@Resources.Menu.NghiPhepCuaBan</span>
                                                            </a>
                                                        </li>
                                                        @if (User.IsInRole("0=0") || User.IsInRole("43=1"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("DuyetNghiPhep", "NghiPhep")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.NghiPhepDuyetNghiPhep</span>
                                                                </a>
                                                            </li>

                                                        }
                                                        @if (User.IsInRole("0=0") || User.IsInRole("44=1"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("QuanLyNghiPhep", "NghiPhep")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.NghiPhepQuanLyNghiPhep</span>
                                                                </a>
                                                            </li>
                                                        }

                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                                @if (User.IsInRole("0=0") || User.IsInRole("45=1") || User.IsInRole("46=1") || User.IsInRole("44=1"))
                                                {
                                                    <a href="javascript:;" class="menu-link menu-toggle">
                                                        <span class="svg-icon menu-icon">
                                                            <!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z M10.875,15.75 C11.1145833,15.75 11.3541667,15.6541667 11.5458333,15.4625 L15.3791667,11.6291667 C15.7625,11.2458333 15.7625,10.6708333 15.3791667,10.2875 C14.9958333,9.90416667 14.4208333,9.90416667 14.0375,10.2875 L10.875,13.45 L9.62916667,12.2041667 C9.29375,11.8208333 8.67083333,11.8208333 8.2875,12.2041667 C7.90416667,12.5875 7.90416667,13.1625 8.2875,13.5458333 L10.2041667,15.4625 C10.3958333,15.6541667 10.6354167,15.75 10.875,15.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                        <span class="menu-text">@Resources.Menu.XacNhanCong</span>
                                                        <i class="menu-arrow"></i>
                                                    </a>
                                                }
                                                <div class="menu-submenu">
                                                    <i class="menu-arrow"></i>
                                                    <ul class="menu-subnav">
                                                        <li class="menu-item menu-item-parent" aria-haspopup="true">
                                                            <span class="menu-link">
                                                                <span class="menu-text">@Resources.Menu.XacNhanCong</span>
                                                            </span>
                                                        </li>
                                                        <li class="menu-item" aria-haspopup="true">
                                                            <a href="@Url.Action("XacNhanCongCuaBan", "XacNhanCong")" class="menu-link">
                                                                <i class="menu-bullet menu-bullet-dot">
                                                                    <span></span>
                                                                </i>
                                                                <span class="menu-text">@Resources.Menu.XacNhanCongCuaBan</span>
                                                            </a>
                                                        </li>
                                                        @if (User.IsInRole("0=0") || User.IsInRole("46=1"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("DuyetXacNhanCong", "XacNhanCong")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.XacNhanCongDuyet</span>
                                                                </a>
                                                            </li>

                                                        }
                                                        @if (User.IsInRole("0=0") || User.IsInRole("44=1"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("QuanLyXacNhanCong", "XacNhanCong")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.XacNhanCongQuanLy</span>
                                                                </a>
                                                            </li>
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("BaoCaoSoLanXacNhanCong", "XacNhanCong")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">
                                                                        @Resources.Menu.XacNhanCongBaoCaoSoLan
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        }

                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                                @if (User.IsInRole("55=1") || User.IsInRole("0=0"))
                                                {
                                                    <a href="javascript:;" class="menu-link menu-toggle">
                                                        <span class="svg-icon menu-icon">
                                                            <!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                    <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                        <span class="menu-text">@Resources.Menu.ChamCongKhongThanh</span>
                                                        <i class="menu-arrow"></i>
                                                    </a>
                                                }
                                                <div class="menu-submenu">
                                                    <i class="menu-arrow"></i>
                                                    <ul class="menu-subnav">
                                                        <li class="menu-item menu-item-parent" aria-haspopup="true">
                                                            <span class="menu-link">
                                                                <span class="menu-text">@Resources.Menu.ChamCongKhongThanh</span>
                                                            </span>
                                                        </li>
                                                        @if (User.IsInRole("55=2") || User.IsInRole("0=0"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("QLChamCongKhongThanh", "ChamCongKhongThanh")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.ChamCongKhongThanhImport</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (User.IsInRole("46=1") || User.IsInRole("0=0"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("DuyetChamCongKhongThanh", "ChamCongKhongThanh")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.ChamCongKhongThanhDuyet</span>
                                                                </a>
                                                            </li>

                                                        }
                                                        @if (User.IsInRole("44=1") || User.IsInRole("0=0"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("NhanSuChamCongKhongThanh", "ChamCongKhongThanh")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.ChamCongKhongThanhQuanLy</span>
                                                                </a>
                                                            </li>
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("ChamCongKhongThanhBaoCao", "ChamCongKhongThanh")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">
                                                                        @Resources.Menu.ChamCongKhongThanhBaoCao
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        }

                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                                @if (User.IsInRole("0=0") || User.IsInRole("47=1") || User.IsInRole("48=1") || User.IsInRole("44=1") || User.IsInRole("54=1"))
                                                {
                                                    <a href="javascript:;" class="menu-link menu-toggle">
                                                        <span class="svg-icon menu-icon">
                                                            <!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                    <path d="M10.9630156,7.5 L11.0475062,7.5 C11.3043819,7.5 11.5194647,7.69464724 11.5450248,7.95024814 L12,12.5 L15.2480695,14.3560397 C15.403857,14.4450611 15.5,14.6107328 15.5,14.7901613 L15.5,15 C15.5,15.2109164 15.3290185,15.3818979 15.1181021,15.3818979 C15.0841582,15.3818979 15.0503659,15.3773725 15.0176181,15.3684413 L10.3986612,14.1087258 C10.1672824,14.0456225 10.0132986,13.8271186 10.0316926,13.5879956 L10.4644883,7.96165175 C10.4845267,7.70115317 10.7017474,7.5 10.9630156,7.5 Z" fill="#000000" />
                                                                    <path d="M7.38979581,2.8349582 C8.65216735,2.29743306 10.0413491,2 11.5,2 C17.2989899,2 22,6.70101013 22,12.5 C22,18.2989899 17.2989899,23 11.5,23 C5.70101013,23 1,18.2989899 1,12.5 C1,11.5151324 1.13559454,10.5619345 1.38913364,9.65805651 L3.31481075,10.1982117 C3.10672013,10.940064 3,11.7119264 3,12.5 C3,17.1944204 6.80557963,21 11.5,21 C16.1944204,21 20,17.1944204 20,12.5 C20,7.80557963 16.1944204,4 11.5,4 C10.54876,4 9.62236069,4.15592757 8.74872191,4.45446326 L9.93948308,5.87355717 C10.0088058,5.95617272 10.0495583,6.05898805 10.05566,6.16666224 C10.0712834,6.4423623 9.86044965,6.67852665 9.5847496,6.69415008 L4.71777931,6.96995273 C4.66931162,6.97269931 4.62070229,6.96837279 4.57348157,6.95710938 C4.30487471,6.89303938 4.13906482,6.62335149 4.20313482,6.35474463 L5.33163823,1.62361064 C5.35654118,1.51920756 5.41437908,1.4255891 5.49660017,1.35659741 C5.7081375,1.17909652 6.0235153,1.2066885 6.2010162,1.41822583 L7.38979581,2.8349582 Z" fill="#000000" opacity="0.3" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                        <span class="menu-text">@Resources.Menu.TangCa</span>
                                                        <i class="menu-arrow"></i>
                                                    </a>
                                                }
                                                <div class="menu-submenu">
                                                    <i class="menu-arrow"></i>
                                                    <ul class="menu-subnav">
                                                        <li class="menu-item menu-item-parent" aria-haspopup="true">
                                                            <span class="menu-link">
                                                                <span class="menu-text">@Resources.Menu.TangCaCuaBan</span>
                                                            </span>
                                                        </li>
                                                        <li class="menu-item" aria-haspopup="true">
                                                            <a href="@Url.Action("TangCaCuaBan", "TangCa")" class="menu-link">
                                                                <i class="menu-bullet menu-bullet-dot">
                                                                    <span></span>
                                                                </i>
                                                                <span class="menu-text">@Resources.Menu.TangCaCuaBan</span>
                                                            </a>
                                                        </li>
                                                        @if (User.IsInRole("0=0") || User.IsInRole("48=1"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("DuyetTangCa", "TangCa")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.TangCaDuyet</span>
                                                                </a>
                                                            </li>

                                                        }
                                                        @if (User.IsInRole("0=0") || User.IsInRole("44=1"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("QuanLyTangCa", "TangCa")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.TangCaQuanLy</span>
                                                                </a>
                                                            </li>
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("TangCaThongTinChiTiet", "TangCa")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.TangCaChiTiet</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (User.IsInRole("0=0") || User.IsInRole("54=1"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("QuanLyTangCa", "TangCa")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.TangCaBaoCao</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                                @if (User.IsInRole("51=1") || User.IsInRole("0=0"))
                                                {
                                                    <a href="javascript:;" class="menu-link menu-toggle">
                                                        <span class="svg-icon menu-icon">
                                                            <!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                    <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3" />
                                                                    <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000" />
                                                                    <rect fill="#000000" opacity="0.3" x="10" y="9" width="7" height="2" rx="1" />
                                                                    <rect fill="#000000" opacity="0.3" x="7" y="9" width="2" height="2" rx="1" />
                                                                    <rect fill="#000000" opacity="0.3" x="7" y="13" width="2" height="2" rx="1" />
                                                                    <rect fill="#000000" opacity="0.3" x="10" y="13" width="7" height="2" rx="1" />
                                                                    <rect fill="#000000" opacity="0.3" x="7" y="17" width="2" height="2" rx="1" />
                                                                    <rect fill="#000000" opacity="0.3" x="10" y="17" width="7" height="2" rx="1" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                        <span class="menu-text">@Resources.Menu.Cong</span>
                                                        <i class="menu-arrow"></i>
                                                    </a>
                                                }
                                                <div class="menu-submenu">
                                                    <i class="menu-arrow"></i>
                                                    <ul class="menu-subnav">
                                                        <li class="menu-item menu-item-parent" aria-haspopup="true">
                                                            <span class="menu-link">
                                                                <span class="menu-text">@Resources.Menu.Cong</span>
                                                            </span>
                                                        </li>
                                                        @if (User.IsInRole("52=1") || User.IsInRole("0=0"))
                                                        {
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("Index", "CongCongTrinh")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.CongCongTrinh</span>
                                                                </a>
                                                            </li>
                                                            <li class="menu-item" aria-haspopup="true">
                                                                <a href="@Url.Action("ImportDLVTCaDem", "Cong")" class="menu-link">
                                                                    <i class="menu-bullet menu-bullet-dot">
                                                                        <span></span>
                                                                    </i>
                                                                    <span class="menu-text">@Resources.Menu.CongCaDem</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>

                                        </ul>
                                        <!--end::Menu Nav-->
                                    </div>
                                    <!--end::Menu Container-->
                                </div>
                                <!--end::Aside Menu-->
                            </div>
                            <!--begin::Header Menu-->
                            <!--end::Header Menu-->
                        </div>
                        <!--begin::Aside-->
                        <!--end::Aside-->
                        <!--end::Header Menu Wrapper-->
                        <!--begin::Topbar-->
                        <div class="topbar">

                            <!--begin::notifications-->
                            <div class="topbar-item mr-3" id="Thongbao">
                                @*@{
                                        int cont = thongBao.Where(it => it.DaXem != true).Count();
                                        if (cont > 0)
                                        {
                                            <span id="badge">@cont</span>
                                        }
                                    }*@
                                <div class="btn btn-icon btn-hover-transparent-white w-auto d-flex align-items-center btn-lg px-2" id="kt_quick_panel_toggle">
                                    <div class="symbol symbol-circle symbol-30 bg-white overflow-hidden">
                                        <div class="symbol-label">
                                            @*<img alt="@Resources.App.TenUngDung" src="~/Content/upload/images/Notifications1.svg" class="h-75 align-self-center" />*@

                                            <span class="svg-icon svg-icon-primary svg-icon-2x">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <path d="M17,12 L18.5,12 C19.3284271,12 20,12.6715729 20,13.5 C20,14.3284271 19.3284271,15 18.5,15 L5.5,15 C4.67157288,15 4,14.3284271 4,13.5 C4,12.6715729 4.67157288,12 5.5,12 L7,12 L7.5582739,6.97553494 C7.80974924,4.71225688 9.72279394,3 12,3 C14.2772061,3 16.1902508,4.71225688 16.4417261,6.97553494 L17,12 Z" fill="#000000" />
                                                        <rect fill="#000000" opacity="0.3" x="10" y="16" width="4" height="4" rx="2" />
                                                    </g>
                                                </svg>
                                            </span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--end::notifications-->
                            <!--begin::User-->
                            <div class="topbar-item mr-3">
                                <div class="btn btn-icon btn-hover-transparent-white w-auto d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                                    <div class="symbol symbol-circle symbol-30 bg-white overflow-hidden">
                                        <div class="symbol-label">
                                            @if (ng.Image != null && ng.Image != "")
                                            {
                                                <img alt="@Resources.App.TenUngDung" src="@ng.Image" class="h-75 align-self-center" />
                                            }
                                            else
                                            {
                                                <img alt="@Resources.App.TenUngDung" src="~/Content/images/businessman.svg" class="h-75 align-self-center" />

                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--end::User-->
                        </div>
                        <!--end::Topbar-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Header-->
                <!--begin::Subheader-->
                <div class="subheader py-2" id="kt_subheader">
                    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">

                        @RenderSection("Header", required: false)

                    </div>
                </div>
                <!--end::Subheader-->
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class="container-fluid">@RenderBody()</div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>
                <!--end::Content-->
                <!--begin::Footer-->
                @*<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">

                        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">

                            <div class="text-dark order-2 order-md-1">
                                <span class="text-muted font-weight-bold mr-2">2020©</span>
                                <a href="https://danhland.com/" target="_blank" class="text-dark-75 text-primary">@Resources.App.TenDonVi</a>
                            </div>

                        </div>

                    </div>*@
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>

    <div id="kt_scrolltop" class="scrolltop">
        <span class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
                    <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </div>



    <div id="kt_quick_panel" class="offcanvas offcanvas-right p-10">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
            <h3 class="font-weight-bold m-0">
                Thông báo
            </h3>
            <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_panel_close">
                <i class="ki ki-close icon-xs text-muted"></i>
            </a>
        </div>
        <div class="separator separator-dashed mt-8 mb-5"></div>
        <div class="offcanvas-content pr-5 mr-n5" style="height: 555px; overflow: auto;">
            <div class="navi navi-spacer-x-0 p-0">
                @*@if (thongBao.Count > 0)
                    {
                        foreach (var item in thongBao)
                        {
                            <a href="@item.Link" class="navi-item" target="_blank">
                                <span>@MvcHtmlString.Create(item.Noidung)</span>    <span style="font-weight:bold;color:forestgreen">@item.Ngay.Value.ToString("dd/MM/yyyy HH:mm")</span>
                                @if (item.DaXem != true)
                                {
                                    <span class="label label-danger label-inline">new</span>
                                }
                            </a>
                            <hr />
                        }
                    }*@
            </div>
        </div>
    </div>
    <div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
            <h3 class="font-weight-bold m-0">
                Thông tin người dùng
            </h3>
            <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
                <i class="ki ki-close icon-xs text-muted"></i>
            </a>
        </div>

        @*@{

            }*@
        <div class="offcanvas-content pr-5 mr-n5">
            <!--begin::Header-->
            <div class="d-flex align-items-center mt-5">
                <div class="symbol symbol-100 mr-5" onclick="">
                    @if (ng.Image != null && ng.Image != "")
                    {
                        <div class="symbol-label" style="background-image:url('@ng.Image')"></div>
                    }
                    else
                    {
                        <div class="symbol-label" style="background-image:url('../../Content/images/businessman.svg')"></div>

                    }
                    <i class="symbol-badge bg-success"></i>
                </div>
                <div class="d-flex flex-column">
                    <text>@ng.TaiKhoan</text>
                    <div class="text-muted mt-1"></div>
                    <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">@ng.TenHienThi</a>
                    <div class="text-muted mt-1"></div>
                    <div class="navi mt-1">
                        <a href="#" class="navi-item">
                            <span class="navi-link p-0 pb-2">
                                <span class="navi-icon mr-1">
                                    <span class="svg-icon svg-icon-lg svg-icon-primary">

                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z" fill="#000000" />
                                                <circle fill="#000000" opacity="0.3" cx="19.5" cy="17.5" r="2.5" />
                                            </g>
                                        </svg>

                                    </span>
                                </span>
                                <span class="navi-text text-muted text-hover-primary">@ng.Email</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="navi navi-spacer-x-0 p-0 ">
                <span class="navi-item mt-2">
                    <span class="navi-link ">
                        <a href="@Url.Action("Logout","Account")" class="btn btn-sm btn-light-primary btn-block font-weight-bolder py-3 px-6">Đăng xuất</a>
                    </span>
                </span>

            </div>

        </div>
    </div>
    <div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
        <!--begin::Container-->
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
                <span class="text-muted font-weight-bold mr-2">2021©</span>
                <a href="https://truongthanh.com/" target="_blank" class="text-dark-75 text-hover-primary">TTF-P.HTTT</a>
            </div>
            <center>
                <span class="txt-color-white">
                    @if (clsFunction.GetDBName().ToUpper() == "TTF_FACEID")
                    {
                        <text><span>TTF Trường Thành - Đường ĐT 747,KP.7, P.Uyên Hưng TX.Tân Uyên, Bình Dương </span>- <b>Môi trường thực</b></text>
                    }
                    else
                    {
                        <text><span>TTF Trường Thành - Đường ĐT 747,KP.7, P.Uyên Hưng TX.Tân Uyên, Bình Dương </span>- <b>Môi trường test</b></text>
                    }
                </span>
            </center>

            <!--end::Nav-->
        </div>
        <!--end::Container-->
    </div>
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#7c2f2e", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <script src="~/Content/plugins/global/plugins.bundle.js"></script>
    <script src="~/Scripts/scripts.bundle.js"></script>

    @Scripts.Render("~/js/extreme")
    @Scripts.Render("~/js/libs")
    @RenderSection("ScriptsFile", required: false)
    @RenderSection("CustomScripts", required: false)
    <script>
    </script>
</body>
</html>
